* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-red: #e02a57;
  --brand-red-light: #fff2f5;
  --text-color: #333333;
}

html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  color: var(--text-color);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--brand-red);
  color: white;

  height: 18rem;

  gap: 1rem;
}

p {
  font-size: 1.8rem;
}

header .header-block {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 3rem;
}

header .header-title {
  font-size: 3.8rem;
  font-weight: 700;
  color: white;
}

header .header-subtitle {
  font-size: 1.4rem;
  border-top: 1px solid white;
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  color: white;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.4rem;
  color: var(--brand-red);
}

span {
  color: var(--brand-red);
}

a {
  text-decoration: none;
}

/* ============================================================== */

.container {
  width: 60%;
  margin: 0 auto;
  margin-top: 5rem;
}

.list-text {
  font-size: 2rem;
}

ul {
  list-style: none;
  display: flex;

  gap: 5rem;
}

.list {
  margin-top: 4rem;
  list-style: none;
  display: flex;
  flex-direction: column;

  gap: 3rem;

  font-size: 2.4rem;
  color: var(--brand-red);
}

nav {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-block: 2rem;

  background-color: var(--brand-red);
  color: white;
  font-weight: 700;
}

nav a {
  text-decoration: none;
  color: white;
}

nav li {
  transition: text-shadow 0.3s ease;
}

nav li:hover {
  transition: text-shadow 0.3s ease;
  text-shadow: 0 0 10px white;
}

span {
  color: var(--brand-red)
}

/* ========================================================= */

.exercices {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 4rem;
}

.card {
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  padding: 3rem;
  background-color: var(--brand-red-light);

  border: 2px solid var(--brand-red);
  border-radius: 2rem;
}

button {
  padding: 2rem;
  border: 2px solid var(--brand-red);
  border-radius: 3rem;
  color: var(--brand-red);
  font-size: 1.6rem;
  background-color: transparent;
  font-weight: 600;
  margin-top: 2rem;

  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transition: 0.3s;
  background-color: var(--brand-red);
  color: white;
}

.footer {
  height: 20rem;
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;

  margin-top: 10rem;
}

.footer p {
  color: white;
}

.social-links {
  display: flex;
  gap: 2rem;
}

.social {
  width: 4rem;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
  }

  header .header-block {
    display: flex;
    flex-direction: column;
  
    align-items: center;
  }
  
  header .header-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: white;
  }
  
  header .header-subtitle {
    font-size: 1.4rem;
    border-top: 1px solid white;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    color: white;
  }
  
  ul {
    list-style: none;
    display: flex;
  
    gap: 2rem;
  }
  
  nav {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-block: 2rem;
  
    background-color: var(--brand-red);
    color: white;
    font-weight: 700;
  }

  h1 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }

  .exercices {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding: 3rem;
    background-color: var(--brand-red-light);
  
    border: 2px solid var(--brand-red);
    border-radius: 2rem;
  }
  
  button {
    padding: 2rem;
    border: 2px solid var(--brand-red);
    border-radius: 3rem;
    color: var(--brand-red);
    font-size: 1.6rem;
    background-color: transparent;
    font-weight: 600;
    margin-top: 2rem;
  
    cursor: pointer;
    transition: .3s;
  }
}