* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-red: #e02a57;
  --text-color: #333333;
  --background-dark-mode: #1f1f1f;
  --text-dark-mode: #ebebeb;

}

html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  transition: .2s;
}

body.dark-mode {
  background-color: var(--background-dark-mode);
  transition: .2s;
}

body.dark-mode p, body.dark-mode h1 {
  color: var(--text-dark-mode);
}

h1,
h2,
h3,
h4,
p {
  color: var(--text-color);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--brand-red);
  color: white;

  height: 18rem;

  gap: 1rem;
}

p {
  font-size: 1.8rem;
}

header .header-block {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 3rem;
}

header .header-title {
  font-size: 3.8rem;
  font-weight: 700;
  color: white;
}

header .header-subtitle {
  font-size: 1.4rem;
  border-top: 1px solid white;
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  color: white;
}

h1 {
  font-size: 4rem;
}

span {
  color: var(--brand-red)
}

a {
  text-decoration: none;
}

/* ============================================================== */

.container {
  width: 60%;
  margin: 0 auto;
}

.list-text {
  font-size: 2rem;
}

ul {
  list-style: none;
  display: flex;

  gap: 5rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-block: 2rem;

  background-color: var(--brand-red);
  color: white;
  font-weight: 700;
}

nav button {
  padding-inline: 1rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: .8rem;
  color: white;
  cursor: pointer;
  transition: .2s;
}

nav button:hover {
  padding-inline: 1rem;
  background-color: white;
  border: 1px solid white;
  border-radius: .8rem;
  color: var(--brand-red);
  cursor: pointer;
  transition: .2s;
}

nav a {
  text-decoration: none;
  color: white;
}

nav li {
  transition: text-shadow 0.3s ease;
}

nav li:hover {
  transition: text-shadow 0.3s ease;
  text-shadow: 0 0 10px white;
}

/* ========================================================= */

.container .landing-welcome .card {
  position: relative;
  width: 35rem;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: var(--brand-red);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  border: 2px solid var(--brand-red);
}

.container .card .card-profile {
  position: absolute;
  font-size: 1.3rem;
  font-weight: 700;
  color: rgba(255, 255, 255, .8);
  transform: translateY(0px);
  border-radius: 50%;
  opacity: 1;
  transition: 1.5s;
  width: 15rem;
  height: 15rem;
  border: 2px solid white;
  box-shadow: 0px 0px 20px white;
}

.container .card .warren-logo {
  position: absolute;
  font-size: 1.3rem;
  font-weight: 700;
  color: rgba(255, 255, 255, .8);
  top: .5rem;
  right: 1rem;
  opacity: 1;
  width: 7rem;
}

.container .card:hover .card-profile, .social {
  box-shadow: 0px 0px 0px white;
  transition: .3s;
  transform: translateY(-90px);
  
}

.container .landing-welcome .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: .5s;
}


.container .card:hover .content {
  transform: translateY(75px);
  opacity: 1;
}

.container .card .content h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: #fff;
  z-index: 1;
  color: white;
}

.container .card .content h2 {
  position: absolute;
  top: -120px;
  right: 0px;
  font-size: 8rem;
  color: white;
  pointer-events: none;
  z-index: -1;
  opacity: .3;
}

.container .card .content p {
  color: white;
}

.container .card .content .social {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-top: .2rem;
  bottom: -11rem;
  gap: 2rem;
  transition: .3s;
  width: 4rem;
}
.container .card .content .social img {
  position: relative;
  border: none;
  width: 4rem;
  height: 4rem;
}

.container .card .content .social .social-icon:hover img {
  transition: .3s;
  filter: drop-shadow(0px 0px 2px white);
}

/* ========================================================= */


.landing-welcome {
  display: flex;
  justify-content: space-between;

  margin-top: 5rem;
}
.welcome-text {
  width: 60%;
}

.landing-welcome h1 {
  margin-bottom: 4rem;
}


.footer {
  height: 15rem;
  position: relative;
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;

  margin-top: 10rem;
}

.footer p {
  color: white;
}

.social-links {
  display: flex;
  gap: 2rem;
}

.social {
  width: 4rem;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  header .header-block {
    display: flex;
    flex-direction: column;
  
    align-items: center;
  }
  
  header .header-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: white;
  }
  
  header .header-subtitle {
    font-size: 1.4rem;
    border-top: 1px solid white;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    color: white;
  }
  
  ul {
    list-style: none;
    display: flex;
  
    gap: 2rem;
  }
  
  nav {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-block: 2rem;
  
    background-color: var(--brand-red);
    color: white;
    font-weight: 700;
  }

  .welcome-text {
    width: 100%;
  }

  .landing-welcome {
    flex-direction: column;
  }

  h1 {
    font-size: 2.4rem;
  }
}